In [1]:
import pandas as pd
import numpy as np
import random

## Eddie's Code

In [2]:
glob_pop = []

# states
states = ['well', 'infected-a', 'infected-s', 'recovered', 'dead']
jobs = ['student', 'doctor', 'lawyer', 'police person', 'shop assistant', 'unemployed', 'retired']
job_type = ['student', 'high-income', 'low-income', 'retired']
class dude:
    def __init__(self, occupation, age, name, state=states[0], underlying_conditions=False, network=[]):
        self.job = occupation
        self.name = name
        self.age = age
        self.state = state
        self.under_cond = underlying_conditions
        self.network = network
        self.elapsed_infected = 0
        self.r_time = random.randint(4,14)

    def __str__(self):
        return "Job: {} Age: {} State: {}".format(self.job, self.age, self.state)

    def __repr__(self):
        return "Job: {} Age: {} State: {}".format(self.job, self.age, self.state)

    def infect(self):
        # The person is more likely to be symptomatic (but this is assumed).
        self.elapsed_infected = 0
        self.state = states[random.choices([1,2], [1,3])[0]]
        return self

    def uninfect(self):
        # The person was not actually infected
        self.state = states[0]
        return self

    def recover(self, val):
        # The person was infected but has now recovered
        self.state = states[val]
        self.elapsed_infected = 0
        return self

class group:
    def __init__(self, size, rate, code, type_):
        self.code = code
        self.type = type_
        self.transmission_rate = rate
        self.demographics = [0, 0, 0]
        self.infected_count = 0
        self.transmissions = 0
        self.size = size
        self.members = []
        
    def __str__(self):
        return "Size: {} Infected: {}".format(self.size, self.infected_count)

    def __repr__(self):
        return "Code: {} Size: {} Infected: {} T-rate: {:.2f}".format(self.code, self.size, self.infected_count, self.transmission_rate)

    def display(self):
        print("Code: {} Size: {} Infected: {}".format(self.code, self.size, self.infected_count))
        return

    def get_members(self):
        return self.members
    
    def plastic(self):
        self.infected_count += np.random.choice([1,0], p=[self.transmission_rate, 1-self.transmission_rate])
        
    def transmit(self):
        mems = random.sample(self.members, self.infected_count)
        for mem in mems:
            mem.infect()
        self.infected_count = 0

def get_group(g_list, code):
    for grp in g_list:
        if grp.code == code:
            return grp
        
def get_person(p_list, name):
    for p in p_list:
        if p.name == name:
            return p
    print('No person with this name')
    return None

def build_df(lst, what):
    if what == 'g':
        dct = {'code': [], 'type': [], 't-rate': [], 'size': []}
    
        for thing in lst:
            for tin in thing:
                dct['code'].append(tin.code)
                dct['type'].append(tin.type)
                dct['t-rate'].append(tin.transmission_rate)
                dct['size'].append(tin.size)
                
    else:
        dct = {'name': [], 'age': [], 'state': [], 'job': []}
    
        for thing in lst:
            for tin in thing:
                dct['name'].append(tin.name)
                dct['age'].append(tin.age)
                dct['state'].append(tin.state)
                dct['job'].append(tin.job)
    
    return pd.DataFrame(dct)

def create_houses(comm_size):
    houses = []
    
    for i in range(0, comm_size):
        rate = random.random()
        size = random.randint(1, 4)
        grp = group(size, rate, i, 'inner')
        houses.append(grp)
    return houses

def init_peeps(houses):
    peeps = []
    
    for i in range(0, len(houses)):
        job = random.choice(job_type)
        age = random.randint(18, 80)
        person = dude(job, age, i, network=[houses[i]])
        houses[i].members.append(person)
        peeps.append(person)
        
    return peeps

def populate_houses(people, hs):
    pep_cnt = len(people)
    
    for house in hs:
        job = house.members[0].job

        for new_member in range(0, house.size - 1):
            age = abs(house.members[0].age + random.randint(-5, 5))
            person = dude(job, age, pep_cnt, network=[house])
            house.members.append(person)
            people.append(person)
            pep_cnt +=1
            
    return

def genesis(comm_size):
    houses = create_houses(comm_size)
    
    peeps = init_peeps(houses)
    
    populate_houses(peeps, houses)
    
    return houses, peeps

def outer_circle_gen(peeps):
    
    ocircs = []
    
    # Size of outer circles, dependent on populaiton size
    ocircle_size = int(len(peeps) * 0.008 + random.randint(-5, 5))
    
    # Number of outer circles, dependent on inner circle count
    ocircle_count = int((len(peeps) / ocircle_size) * 0.95)
    
    for i in range(0, ocircle_count):
        # Lower rates for outr circles
        rate = random.uniform(0,0.5)
        size = int(len(peeps) * random.uniform(0.0001,0.0008) + random.randint(-5, 5))
        grp = group(size, rate, i, 'outer')
        ocircs.append(grp)
    
    for pepe in peeps:
        nets = random.sample(ocircs, random.randint(1,3))
        for net in nets:
            net.members.append(pepe)
            pepe.network.append(net)
        
    return ocircs

def begin_sim(peeps):
    # Begin by infecting one person
    r_pep = random.choice(peeps)
    print("Person {} was infected first\n".format(r_pep.name))
    r_pep.infect()

def day(peeps, networks):
    
    # Iterate over all people and decide whether they will transmit to their repsective groups
    # And if they have reached their recovery time what whill happen to them.
    for person in peeps:
        if (person.state == states[1]) or (person.state == states[2]):
            person.elapsed_infected += 1
            for net in person.network:
                net.plastic()
            if person.elapsed_infected >= person.r_time:
                person.recover(np.random.choice([3,4], p=[0.95, 0.05]))
            
    # Using the new infected count of each group transmit it accordingly
    new_cases = 0
    for n in networks:
        new_cases += n.infected_count
        if n.infected_count > 0:
            n.transmit()
    
    ss = build_df([peeps], 'p')['state'].value_counts()
    for s in states:
        if s not in ss:
            ss[s] = 0
            
    print("----------Virus Report----------\n")
    print("Today's new cases: {}".format(new_cases))
    print("Total Infected: {}".format(ss['infected-s'] + ss['infected-a']))
    print("Asymptomatic Cases:", ss['infected-a'])
    print("Symptomatic Cases:", ss['infected-s'])
    print("Total Recoveries:", ss['recovered'])
    print("Total Deaths:", ss['dead'])
    print("Stay Home, Save Lives\n")

### Initial population creation and first circle

In [3]:
# Create Houses
houses, peeps = genesis(3600000)

# Create Outer Circles
outer_circles = outer_circle_gen(peeps)
networks = houses + outer_circles

In [4]:
len(peeps)

8999168

In [5]:
get_group(houses, 4465).members

[Job: student Age: 68 State: well, Job: student Age: 69 State: well]

In [8]:
get_person(houses, 63536).network

[Code: 22221 Size: 3 Infected: 0 T-rate: 0.18,
 Code: 59 Size: 600 Infected: 0 T-rate: 0.41]

In [6]:
# Simulate daily transmissions for a month
for i in range(0,31):
    print("Day", i)
    if i == 0:
        begin_sim(peeps)
    else:
        day(peeps, networks)

Day 0
Person 3062333 was infected first

Day 1
----------Virus Report----------

Today's new cases: 1
Total Infected: 2
Asymptomatic Cases: 0
Symptomatic Cases: 2
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 2
----------Virus Report----------

Today's new cases: 0
Total Infected: 2
Asymptomatic Cases: 0
Symptomatic Cases: 2
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 3
----------Virus Report----------

Today's new cases: 2
Total Infected: 3
Asymptomatic Cases: 0
Symptomatic Cases: 3
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 4
----------Virus Report----------

Today's new cases: 2
Total Infected: 4
Asymptomatic Cases: 0
Symptomatic Cases: 4
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 5
----------Virus Report----------

Today's new cases: 5
Total Infected: 7
Asymptomatic Cases: 2
Symptomatic Cases: 5
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 6
----------Virus Report----------

Today's new cases: 6
Total Infected: 11
Asymptomatic Cases: 5
Symptomatic Cases: 6
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 7
----------Virus Report----------

Today's new cases: 8
Total Infected: 16
Asymptomatic Cases: 7
Symptomatic Cases: 9
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 8
----------Virus Report----------

Today's new cases: 18
Total Infected: 30
Asymptomatic Cases: 8
Symptomatic Cases: 22
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 9
----------Virus Report----------

Today's new cases: 32
Total Infected: 55
Asymptomatic Cases: 12
Symptomatic Cases: 43
Total Recoveries: 0
Total Deaths: 0
Stay Home, Save Lives

Day 10
----------Virus Report----------

Today's new cases: 47
Total Infected: 82
Asymptomatic Cases: 18
Symptomatic Cases: 64
Total Recoveries: 1
Total Deaths: 0
Stay Home, Save Lives

Day 11
----------Virus Report----------

Today's new cases: 97
Total Infected: 154
Asymptomatic Cases: 36
Symptomatic Cases: 118
Total Recoveries: 2
Total Deaths: 0
Stay Home, Save Lives

Day 12
----------Virus Report----------

Today's new cases: 192
Total Infected: 293
Asymptomatic Cases: 54
Symptomatic Cases: 239
Total Recoveries: 3
Total Deaths: 0
Stay Home, Save Lives

Day 13
----------Virus Report----------

Today's new cases: 351
Total Infected: 539
Asymptomatic Cases: 125
Symptomatic Cases: 414
Total Recoveries: 3
Total Deaths: 0
Stay Home, Save Lives

Day 14
----------Virus Report----------

Today's new cases: 651
Total Infected: 1012
Asymptomatic Cases: 243
Symptomatic Cases: 769
Total Recoveries: 4
Total Deaths: 0
Stay Home, Save Lives

Day 15
----------Virus Report----------

Today's new cases: 1263
Total Infected: 1927
Asymptomatic Cases: 488
Symptomatic Cases: 1439
Total Recoveries: 7
Total Deaths: 0
Stay Home, Save Lives

Day 16
----------Virus Report----------

Today's new cases: 2245
Total Infected: 3541
Asymptomatic Cases: 918
Symptomatic Cases: 2623
Total Recoveries: 11
Total Deaths: 0
Stay Home, Save Lives

Day 17
----------Virus Report----------

Today's new cases: 4191
Total Infected: 6539
Asymptomatic Cases: 1676
Symptomatic Cases: 4863
Total Recoveries: 26
Total Deaths: 1
Stay Home, Save Lives

Day 18
----------Virus Report----------

Today's new cases: 7704
Total Infected: 12032
Asymptomatic Cases: 3030
Symptomatic Cases: 9002
Total Recoveries: 43
Total Deaths: 1
Stay Home, Save Lives

Day 19
----------Virus Report----------

Today's new cases: 14265
Total Infected: 22195
Asymptomatic Cases: 5575
Symptomatic Cases: 16620
Total Recoveries: 88
Total Deaths: 3
Stay Home, Save Lives

Day 20
----------Virus Report----------

Today's new cases: 26114
Total Infected: 40787
Asymptomatic Cases: 10150
Symptomatic Cases: 30637
Total Recoveries: 173
Total Deaths: 6
Stay Home, Save Lives

Day 21
----------Virus Report----------

Today's new cases: 48123
Total Infected: 74967
Asymptomatic Cases: 18577
Symptomatic Cases: 56390
Total Recoveries: 290
Total Deaths: 15
Stay Home, Save Lives

Day 22
----------Virus Report----------

Today's new cases: 88113
Total Infected: 136914
Asymptomatic Cases: 34101
Symptomatic Cases: 102813
Total Recoveries: 525
Total Deaths: 31
Stay Home, Save Lives

Day 23
----------Virus Report----------

Today's new cases: 161050
Total Infected: 249122
Asymptomatic Cases: 62152
Symptomatic Cases: 186970
Total Recoveries: 954
Total Deaths: 55
Stay Home, Save Lives

Day 24
----------Virus Report----------

Today's new cases: 292729
Total Infected: 449109
Asymptomatic Cases: 112359
Symptomatic Cases: 336750
Total Recoveries: 1763
Total Deaths: 104
Stay Home, Save Lives

Day 25
----------Virus Report----------

Today's new cases: 526960
Total Infected: 795932
Asymptomatic Cases: 199070
Symptomatic Cases: 596862
Total Recoveries: 3217
Total Deaths: 188
Stay Home, Save Lives

Day 26
----------Virus Report----------

Today's new cases: 931037
Total Infected: 1370494
Asymptomatic Cases: 343155
Symptomatic Cases: 1027339
Total Recoveries: 5436
Total Deaths: 315
Stay Home, Save Lives

Day 27
----------Virus Report----------

Today's new cases: 1593302
Total Infected: 2250028
Asymptomatic Cases: 562793
Symptomatic Cases: 1687235
Total Recoveries: 8792
Total Deaths: 513
Stay Home, Save Lives

Day 28
----------Virus Report----------

Today's new cases: 2594999
Total Infected: 3444389
Asymptomatic Cases: 861028
Symptomatic Cases: 2583361
Total Recoveries: 12819
Total Deaths: 677
Stay Home, Save Lives

Day 29
----------Virus Report----------

Today's new cases: 3918043
Total Infected: 4806229
Asymptomatic Cases: 1201555
Symptomatic Cases: 3604674
Total Recoveries: 17132
Total Deaths: 867
Stay Home, Save Lives

Day 30
----------Virus Report----------

Today's new cases: 5376697
Total Infected: 6069926
Asymptomatic Cases: 1519503
Symptomatic Cases: 4550423
Total Recoveries: 20569
Total Deaths: 1042
Stay Home, Save Lives

### Second Circle

In [4]:
len(peeps)

74843

In [5]:
# Size of outer circles, dependent on populaiton size
ocircle_size = int(len(peeps) * 0.008 + random.randint(-5, 5))

In [6]:
# Number of outer circles, dependent on inner circle count
ocircle_count = int((len(peeps) / ocircle_size) * 0.95)

In [7]:
ocircle_size * ocircle_count

70924

In [8]:
ocircs = []
for i in range(0, ocircle_count):
    # Lower rates for outr circles
    rate = random.uniform(0,0.5)
    size = int(len(peeps) * 0.008 + random.randint(-5, 5))
    grp = group(size, rate, i, 'outer')
    ocircs.append(grp)

In [9]:
for pepe in peeps:
    nets = random.sample(ocircs, random.randint(1,3))
    for net in nets:
        net.members.append(pepe)
        pepe.network.append(net)

In [10]:
networks = houses + ocircs

### Explore the Networks

In [24]:
pepsam = random.sample(peeps, 5)

for pep in pepsam:
    print(pep.name, pep)
    for net in pep.network:
        print(net.code, net)

30285 Job: high-income Age: 47 State: 0
188 Size: 4 Infected: 0
57 Size: 599 Infected: 0
63 Size: 603 Infected: 0
66907 Job: retired Age: 79 State: 0
24639 Size: 3 Infected: 0
87 Size: 602 Infected: 0
94 Size: 595 Infected: 0
99 Size: 600 Infected: 0
1533 Job: student Age: 37 State: 0
1533 Size: 4 Infected: 0
116 Size: 602 Infected: 0
69905 Job: retired Age: 69 State: 0
26620 Size: 4 Infected: 0
65 Size: 599 Infected: 0
59 Size: 598 Infected: 0
72 Size: 604 Infected: 0
39229 Job: low-income Age: 73 State: 0
6193 Size: 3 Infected: 0
86 Size: 600 Infected: 0

In [25]:
get_group(ocircs, 32)

Code: 32 Size: 594 Infected: 0 T-rate: 0.26

In [26]:
for cir in ocircs:
    if cir.code == 30:
        cir.display()

Code: 30 Size: 599 Infected: 0

In [27]:
print(random.choice(random.choice(ocircs).members))

Job: retired Age: 59 State: 0

In [28]:
print(peeps[5].network[0])

Size: 3 Infected: 0

### Community Code Infrastructure

In [13]:
build_df([houses, ocircs], 'g')

       code   type    t-rate  size
0         0  inner  0.000849     2
1         1  inner  0.257237     3
2         2  inner  0.897786     3
3         3  inner  0.152369     1
4         4  inner  0.070122     3
...     ...    ...       ...   ...
30113   113  outer  0.274119   600
30114   114  outer  0.248518   596
30115   115  outer  0.418092   599
30116   116  outer  0.214742   600
30117   117  outer  0.328089   605

[30118 rows x 4 columns]

In [12]:
circs = build_df([networks], 'g')

In [13]:
circs[circs['type'] == 'outer'].sort_values('t-rate', ascending=False)

       code   type    t-rate  size
30012    12  outer  0.499209   594
30026    26  outer  0.497126   594
30000     0  outer  0.496561   598
30070    70  outer  0.493727   599
30050    50  outer  0.492916   595
...     ...    ...       ...   ...
30073    73  outer  0.009176   603
30105   105  outer  0.005899   599
30100   100  outer  0.004134   601
30080    80  outer  0.003362   594
30110   110  outer  0.000012   599

[118 rows x 4 columns]

In [14]:
build_df([peeps], 'p').tail()

        name  age state          job
75055  75055   47  well  high-income
75056  75056   44  well  high-income
75057  75057   40  well   low-income
75058  75058   41  well   low-income
75059  75059   38  well   low-income

### Transmission Simulation

In [11]:
# Begin by infecting one person
r_pep = random.choice(peeps)
print(r_pep.name, r_pep.state)
r_pep.infect()
print(r_pep.name, r_pep.state)

18926 well
18926 infected-s

In [12]:
get_group(ocircs, 82).infected_count

0

In [21]:
get_person(peeps, 18926).r_time

5

In [26]:
get_person(peeps, 18926).elapsed_infected

3

In [64]:
for person in peeps:
    if (person.state == states[1]) or (person.state == states[2]):
        person.elapsed_infected += 1
        for net in person.network:
            net.plastic()
        if person.elapsed_infected >= person.r_time:
            person.recover(np.random.choice([3,4], p=[0.95, 0.05]))

In [65]:
for n in networks:
    if n.infected_count > 0:
        n.transmit()

In [66]:
build_df([peeps], 'p')['state'].value_counts()

well          63105
infected-s     8746
infected-a     2934
recovered        56
dead              2
Name: state, dtype: int64