In [1]:
import pandas as pd
import numpy as np
import random

## Kai's Code

In [0]:
glob_pop = []

# states
states = ['well', 'infected-a', 'infected-s', 'recovered', 'dead']
class dude:
      def __init__(self, occupation, age, state=0, underlying_conditions=False, network=[]):
        self.job = occupation
        self.age = age
        self.state = state
        self.under_cond = underlying_conditions
        self.network = {'john': 'near', 'james':'far'}
        self.network = [groupa]
        
class group:
    def __init__(self):
        self.transmission_rate = 0.0
        self.demographics = [0, 0, 0]
        self.infected_count = 0
        self.memebers = []
        
        

Eddie = dude('developer', age=21)
Kai = dude('student', age=21)
Sihan = dude(occupation='student', age=22, state=0)

## Eddie's Code

In [140]:
glob_pop = []

# states
states = ['well', 'infected-a', 'infected-s', 'recovered', 'dead']
jobs = ['student', 'doctor', 'lawyer', 'police person', 'shop assistant', 'unemployed', 'retired']
job_type = ['student', 'high-income', 'low-income', 'retired']
class dude:
    def __init__(self, occupation, age, name, state=0, underlying_conditions=False, network=[]):
        self.job = occupation
        self.name = name
        self.age = age
        self.state = state
        self.under_cond = underlying_conditions
        self.network = network
    
    def __str__(self):
        return "Job: {}, Age: {}, State: {}".format(self.job, self.age, self.state)
        
    def __repr__(self):
        return "Job: {}, Age: {}, State: {}".format(self.job, self.age, self.state)
    
    def infect(self):
        # The person is more likely to be symptomatic (but this is assumed).
        self.state = random.choices([1,2], [1,3])[0]
        return self
        
    def uninfect(self):
        # The person was not actually infected
        self.state = 0
        return self
    
    def recover(self):
        # The person was infected but has now recovered
        self.state = 3
        return self
        
class group:
    def __init__(self, size, rate, code, type_):
        self.code = code
        self.type = type_
        self.transmission_rate = rate
        self.demographics = [0, 0, 0]
        self.infected_count = 0
        self.size = size
        self.members = []
        
    def __str__(self):
        return "Size: {}, Infected: {}".format(self.size, self.infected_count)
    
    def __repr__(self):
        return "Code: {}, Size: {}, Infected: {}, T-rate: {:.2f}".format(self.code, self.size, self.infected_count, self.transmission_rate)
        
    def display(self):
        print("Code: {}, Size: {}, Infected: {}".format(self.code, self.size, self.infected_count))
        return

def get_group(g_list, code):
    for grp in g_list:
        if grp.code == code:
            return grp
        
def get_person(p_list, name):
    for p in p_list:
        if p.name == name:
            return p
    print('No person with this name')
    return None
        
def build_df(lst, what):
    if what == 'g':
        dct = {'code': [], 'type': [], 't-rate': [], 'size': []}
    
        for thing in lst:
            for tin in thing:
                dct['code'].append(tin.code)
                dct['type'].append(tin.type)
                dct['t-rate'].append(tin.transmission_rate)
                dct['size'].append(tin.size)
                
    else:
        dct = {'name': [], 'age': [], 'state': [], 'job': []}
    
        for thing in lst:
            for tin in thing:
                dct['name'].append(tin.name)
                dct['age'].append(tin.age)
                dct['state'].append(tin.state)
                dct['job'].append(tin.job)
    
    return pd.DataFrame(dct)

def create_houses(comm_size):
    houses = []
    
    for i in range(0, comm_size):
        rate = random.random()
        size = random.randint(1, 7)
        grp = group(size, rate, i, 'inner')
        houses.append(grp)
    return houses

def init_peeps(houses):
    peeps = []
    
    for i in range(0, len(houses)):
        job = random.choice(job_type)
        age = random.randint(18, 80)
        person = dude(job, age, i, network=[houses[i]])
        houses[i].members.append(person)
        peeps.append(person)
        
    return peeps

def populate_houses(people, hs):
    pep_cnt = len(people)
    
    for house in hs:
        job = house.members[0].job

        for new_member in range(0, house.size -1):
            age = abs(house.members[0].age + random.randint(-5, 5))
            person = dude(job, age, pep_cnt, network=[house])
            house.members.append(person)
            people.append(person)
            pep_cnt +=1
            
    return

def genesis(comm_size):
    houses = create_houses(comm_size)
    
    peeps = init_peeps(houses)
    
    populate_houses(peeps, houses)
    
    return houses, peeps

### Initial population creation and first circle

In [141]:
houses, peeps = genesis(1000)

### Second Circle

In [142]:
# Size of outer circles, dependent on populaiton size
ocircle_size = int(len(peeps) * 0.008 + random.randint(-5, 5))

In [143]:
# Number of outer circles, dependent on inner circle count
ocircle_count = int((len(peeps) / ocircle_size) * 0.95)

In [144]:
ocircle_size * ocircle_count

3861

In [145]:
ocircs = []
for i in range(0, ocircle_count):
    # Lower rates for outr circles
    rate = random.uniform(0,0.5)
    size = int(len(peeps) * 0.008 + random.randint(-5, 5))
    grp = group(size, rate, i, 'outer')
    ocircs.append(grp)

In [146]:
for pepe in peeps:
    nets = random.sample(ocircs, random.randint(1,3))
    for net in nets:
        net.members.append(pepe)
        pepe.network.append(net)

### Explore the Networks

In [147]:
pepsam = random.sample(peeps, 5)

for pep in pepsam:
    print(pep.name, pep)
    for net in pep.network:
        print(net.code, net)

822 Job: retired, Age: 76, State: 0
822 Size: 2, Infected: 0
18 Size: 37, Infected: 0
69 Size: 34, Infected: 0
66 Size: 27, Infected: 0
2579 Job: high-income, Age: 54, State: 0
513 Size: 4, Infected: 0
11 Size: 30, Infected: 0
25 Size: 34, Infected: 0
82 Size: 28, Infected: 0
3045 Job: retired, Age: 77, State: 0
665 Size: 5, Infected: 0
34 Size: 36, Infected: 0
138 Size: 33, Infected: 0
131 Size: 27, Infected: 0
4031 Job: low-income, Age: 79, State: 0
987 Size: 5, Infected: 0
66 Size: 27, Infected: 0
127 Size: 33, Infected: 0
1141 Job: low-income, Age: 19, State: 0
44 Size: 5, Infected: 0
62 Size: 29, Infected: 0
10 Size: 28, Infected: 0
64 Size: 27, Infected: 0

In [148]:
get_group(ocircs, 32)

Code: 32, Size: 31, Infected: 0, T-rate: 0.18

In [149]:
for cir in ocircs:
    if cir.code == 30:
        cir.display()

Code: 30, Size: 29, Infected: 0

In [150]:
print(random.choice(random.choice(ocircs).members))

Job: high-income, Age: 64, State: 0

In [151]:
print(peeps[5].network[0])

Size: 5, Infected: 0

### Community Code Infrastructure

In [152]:
build_df([houses, ocircs], 'g')

      code   type    t-rate  size
0        0  inner  0.447218     2
1        1  inner  0.423672     4
2        2  inner  0.301294     5
3        3  inner  0.852230     5
4        4  inner  0.102066     6
...    ...    ...       ...   ...
1138   138  outer  0.494229    33
1139   139  outer  0.396546    31
1140   140  outer  0.494731    36
1141   141  outer  0.461375    30
1142   142  outer  0.005398    34

[1143 rows x 4 columns]

In [153]:
build_df([peeps], 'p').tail()

      name  age  state          job
4073  4073   61      0  high-income
4074  4074   47      0   low-income
4075  4075   47      0   low-income
4076  4076   51      0   low-income
4077  4077   48      0   low-income

### Transmission Simuation

In [154]:
# Begin by infecting one person
r_pep = random.choice(peeps)
print(r_pep.name, r_pep.state)
r_pep.infect()
print(r_pep.name, r_pep.state)

3594 0
3594 2

In [155]:
get_person(peeps, 3594)

Job: retired, Age: 72, State: 2